/*------------------------------------*\
    Example - Name of component
\*------------------------------------*/

.jumbotron {
    color: $color-gray;
    text-align: center;
    background-color: $color-black;
}
