/*------------------------------------*\
    Page Builder
\*------------------------------------*/

.content {}

.content__part {
    padding-top: 90px;
    padding-bottom: 90px;
}

.content__text {
    margin-top: 60px;
    font-weight: lighter;
    text-align: center;
}

.content__text--small {
    font-size: 16px;
    line-height: 2;
}