/*------------------------------------*\
    Footer
\*------------------------------------*/

.footer {
    color: $color-white;
    background-color: $color-black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;

    a {
        color: $color-white;
        text-decoration: underline;
    }
}