/*------------------------------------*\
    Jumbotron
\*------------------------------------*/

.jumbotron {
    position: relative;
    z-index: 1;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    color: $color-white;
    text-align: center;
    background-color: $color-black;
    padding-top: 90px;
    min-height: 70vh;
}

.jumbotron__title {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}