/**
 * Variables and Bootstrap overrides
 */

/* Colors */
$color-default: #101413;

/* Stack colors like this depending on shades */
$color-primary: #E01B27;
$color-primary02: #7E1B27;
$color-primary03: rgb(243, 156, 134);
$color-primary04: rgb(250, 204, 189);

$color-secondary: rgb(51, 153, 204);

$color-accent: rgb(252, 204, 51);

$color-supplement: rgb(0, 153, 102);

$color-gray: #5F5A5A;

$color-white: #ffffff;
$color-black: #000000;

/* Font Weight */
$weight-light: 100;
$weight-normal: 400;
$weight-medium: 600;
$weight-bold: 800;
$weight-extra-bold: 900;

/* Font families */
$font-primary: "TisaPro", "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "MarkPro", "Helvetica Neue", Helvetica, sans-serif;

/* Breakpoints */
@mixin breakpoint($point) {
    @if $point == xs-max {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $point == xs {
        @media (min-width: 481px) and (max-width: 767px) {
            @content;
        }
    }

    @else if $point == sm {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $point == md {
        @media (min-width: 992px) and (max-width: 1280px) {
            @content;
        }
    }

    @else if $point == lg {
        @media (min-width: 1281px) {
            @content;
        }
    }
}