/*------------------------------------*\
   03. Utilities
\*------------------------------------*/

.u-inverse {
    color: $color-white;
}

.u-relative {
    position: relative;
}

.u-clickable {
    cursor: pointer;
}

/* Font styles */

.u-uppercase {
    text-transform: uppercase;
}

.u-lowercase {
    text-transform: lowercase;
}

/* Font alignment */
.u-align-left {
    text-align: left;
}

.u-align-center {
    text-align: center;
}

.u-align-right {
    text-align: right;
}

.u-align-mobile-center {
    @include breakpoint(xs) {
        text-align: center;
    }

    @include breakpoint(xs-max) {
        text-align: center;
    }
}

/* Margins */
.u-no-margin-left {
    margin-left: 0px;
}

.u-ml10 {
    margin-left: 10px;
}

.u-ml15 {
    margin-left: 15px;
}

.u-ml20 {
    margin-left: 20px;
}

.u-ml30 {
    margin-left: 30px;
}

.u-ml40 {
    margin-left: 40px;
}

.u-ml45 {
    margin-left: 45px;
}

.u-ml50 {
    margin-left: 50px;
}

.u-ml60 {
    margin-left: 60px;
}

.u-no-margin-right {
    margin-right: 0px;
}

.u-mr10 {
    margin-right: 10px;
}

.u-mr15 {
    margin-right: 15px;
}

.u-mr20 {
    margin-right: 20px;
}

.u-mr30 {
    margin-right: 30px;
}

.u-mr40 {
    margin-right: 40px;
}

.u-mr45 {
    margin-right: 45px;
}

.u-mr50 {
    margin-right: 50px;
}

.u-mr60 {
    margin-right: 60px;
}

.u-no-margin-bottom {
    margin-bottom: 0px;
}

.u-mb10 {
    margin-bottom: 10px;
}

.u-mb15 {
    margin-bottom: 15px;
}

.u-mb20 {
    margin-bottom: 20px;
}

.u-mb30 {
    margin-bottom: 30px;
}

.u-mb40 {
    margin-bottom: 40px;
}

.u-mb45 {
    margin-bottom: 45px;
}

.u-mb50 {
    margin-bottom: 50px;
}

.u-mb60 {
    margin-bottom: 60px;
}

.u-no-margin-top {
    margin-top: 0px;
}

.u-mt10 {
    margin-top: 10px;
}

.u-mt15 {
    margin-top: 15px;
}

.u-mt20 {
    margin-top: 20px;
}

.u-mt30 {
    margin-top: 30px;
}

.u-mt40 {
    margin-top: 40px;
}

.u-mt45 {
    margin-top: 45px;
}

.u-mt50 {
    margin-top: 50px;
}

.u-mt60 {
    margin-top: 60px;
}

/* Paddings */
.u-no-padding-left {
    padding-left: 0px;
}

.u-pl10 {
    padding-left: 10px;
}

.u-pl15 {
    padding-left: 15px;
}

.u-pl20 {
    padding-left: 20px;
}

.u-pl30 {
    padding-left: 30px;
}

.u-pl40 {
    padding-left: 40px;
}

.u-pl45 {
    padding-left: 45px;
}

.u-pl50 {
    padding-left: 50px;
}

.u-pl60 {
    padding-left: 60px;
}

.u-no-padding-right {
    padding-right: 0px;
}

.u-pr10 {
    padding-right: 10px;
}

.u-pr15 {
    padding-right: 15px;
}

.u-pr20 {
    padding-right: 20px;
}

.u-pr30 {
    padding-right: 30px;
}

.u-pr40 {
    padding-right: 40px;
}

.u-pr45 {
    padding-right: 45px;
}

.u-pr50 {
    padding-right: 50px;
}

.u-pr60 {
    padding-right: 60px;
}

.u-no-padding-bottom {
    padding-bottom: 0px;
}

.u-pb10 {
    padding-bottom: 10px;
}

.u-pb15 {
    padding-bottom: 15px;
}

.u-pb20 {
    padding-bottom: 20px;
}

.u-pb30 {
    padding-bottom: 30px;
}

.u-pb40 {
    padding-bottom: 40px;
}

.u-pb45 {
    padding-bottom: 45px;
}

.u-pb50 {
    padding-bottom: 50px;
}

.u-pb60 {
    padding-bottom: 60px;
}

.u-no-padding-top {
    padding-top: 0px;
}

.u-pt10 {
    padding-top: 10px;
}

.u-pt15 {
    padding-top: 15px;
}

.u-pt20 {
    padding-top: 20px;
}

.u-pt30 {
    padding-top: 30px;
}

.u-pt40 {
    padding-top: 40px;
}

.u-pt45 {
    padding-top: 45px;
}

.u-pt50 {
    padding-top: 50px;
}

.u-pt60 {
    padding-top: 60px;
}